{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg">
            <div class="card mb-4">
                <div class="card-header">
                    {% if request.GET.tag %}
                    Showing pages tagged "{{ request.GET.tag }}"
                    {% endif %}
                </div>
                <div class="card-body">
                {% for blogpage in blogpages %}

                    <p>
                        <h2 class="py-1"><a href="{% pageurl blogpage %}"><button type="button" class="btn btn-outline-secondary">{{ blogpage.title }}</button></a></h2>
                        <small>Revised: {{ blogpage.latest_revision_created_at }}</small><br />
                    </p>

                {% empty %}
                    No pages found with that tag.
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}